body{
    font-size: 20px;
    padding: 20px;
    margin: 5px;
}

#img4, div #img2{
    float: right;
}

#mytab{
  
    width: 50%;
    margin: 0 auto !important;

}

#float-right{
    float:right ;
}

.float{
    float:right ;
}